/* Start Pre Footer - Desktop */

#pre-footer {
    background: var(--orange);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 104px;
    
}

#pre-footer .row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
   
    gap: 20px;
}

#pre-footer .col-1 {
   flex-basis: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   padding-top: 40px;
    padding-bottom: 40px;
}

#pre-footer .col-1 .pre-footer-button {
    display: inline-flex;
   flex-direction: row;
   justify-content: flex-start;
   gap: 20px;
}

#pre-footer .col-2 {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }

 #pre-footer .col-2 img {
    width: 580px;
    margin-top: -300px;
    
 }

#pre-footer h2 {
    color: white;
}
/* End Pre Footer - Desktop */

/* Start Pre Footer - Tablet */
@media screen and (max-width: 921px) and (min-width: 650px){
    
    #pre-footer {
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 0px;
    }


    #pre-footer .col-2 img {
        width: 300px;
        margin-top: 0px;
        
     }


}

/* End Pre Footer - Tablet */


/* Start Pre Footer - Mobile */
@media (max-width: 921px){
    
    #pre-footer {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 0px;
        padding-bottom: 20px;
        margin-top: 0px;
    }

    
    #pre-footer .row {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;

  
    }

    #pre-footer .col-1{
    padding-bottom: 0px;
    }

    #pre-footer .col-2 img {
        width: 100%;
        margin-top: 0px;
        display: none;
        
     }

    #pre-footer .col-1, #pre-footer .col-2 {
        flex-basis: 100%;
     }

}

